<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.habaneros.kitchenette"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_large"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        <activity
            android:name="com.habaneros.kitchenette.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.habaneros.kitchenette.RegisterActivity"
            android:label="@string/title_activity_register_activty"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.habaneros.kitchenette.ChooseRecipeActivity"
            android:label="@string/title_activity_choose_recipe"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.habaneros.kitchenette.CreateRecipeActivity"
            android:label="@string/title_activity_create_recipe"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.habaneros.kitchenette.ChooseRecipeTypeActivity"
            android:label="@string/title_activity_choose_recipe_type"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.habaneros.kitchenette.BeginCookingActivity"
            android:label="@string/title_activity_begin_cooking"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.habaneros.kitchenette.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.habaneros.kitchenette.AddStepActivity"
            android:label="@string/title_activity_add_step" >
        </activity>
    </application>

</manifest>
